/*=========================================================*/
/***********************Default CSS*************************/
html,
body {
	width: 100%;
	height: 100%;
}

html,#title-label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
	font-size: 10pt;
}

body {
	font-size: 10pt;
	overflow: hidden !important; /* Hide scrollbars */
}

button {
	outline: none;
	border: none;
	box-shadow: none;
}

/* Prevent user from select text */
.no-select-text {
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.allow-select-text {
	-ms-user-select: text; /* Internet Explorer/Edge */
}

.default-mouse {
	cursor: default;
}

.bg-app-color {
	background: #eeeeee;
}

.bg-app-theme-dark {
	background: #37474F;
}

.bg-app-theme-light {
	background: #546E7A;
}

.title-btn {
	padding: 0.05em 1.30em;
	cursor: pointer;
	/* vertical-align: top; */
	/* font-family: Webdings;	/* This font for the icons */ */
	/* font-size: 11pt; */
}

.title-btn-disable {
	pointer-events: none;
	cursor: default;
	background: #dadada;
}

.title-btn:hover, .footer-btn:hover {
	background: rgba(0, 0, 0, .3);
}

.title-btn-close:hover {
	background: #dc3545;
}

.footer-btn {
	padding: 0.05em 0.90em;
	cursor: pointer;
}

.menu-btn {
	cursor: pointer;
	padding: 0px 10px 0px;
	font-size: 12px;
}

/* Scrollbar display */
body{
	scrollbar-track-color:  #AAA;
	scrollbar-3dlight-color:  #AAA;
	scrollbar-darkshadow-color:  #AAA;
	scrollbar-arrow-color:  #AAA;
	-ms-overflow-style: none;		/* Hide the scrollbar */
}

/*============================================================*/
/***********************Additional CSS*************************/
/**Nav Bar**/

/* Program Card */
.prog-card-title {
	font-weight: bold;
	font-family: sans-serif;
}
.prog-card-subtitle {
	font-weight: bold;
	font-size: 12px;
}

.pro-card-status-useable {
	border-left: 10px solid #00c853;
}
.pro-card-status-needupdate {
	border-left: 10px solid #673ab7;
}
.pro-card-status-notready {
	border-left: 10px solid #ff3d00;
}
.pro-card-status-inprogress {
	border-left: 10px solid #fbc02d;
}
.pro-card-status-substitute {
	border-left: 10px solid #9e9e9e;
}

#prog-card-req-bttn:hover {
	color: rgba(0, 0, 0, .3);
}

#prog-card-brand-logo:hover {
	animation: rubberBand 1s linear .2s infinite;
}

/* Icon Status */
.icon-working {
	color: #00c853;
}

.icon-stopped {
	color: #f44336;
}

.icon-problem {
	color: #fbc02d;
}

/* Task Card */
.task-title {
	font-weight: bold;
	font-size: 15px;
}

/* Price Tag */
.pricetag{
    white-space:nowrap;
    position:relative;
    margin:0 5px 0 10px;
    displaY:inline-block;
    height:25px;
    border-radius: 0 3px 3px 0;
    padding: 0 8px 0 15px;
    background: #ffcc80;
    border: 1px solid #C7D2D4;
    color: #757575;
    line-height:23px;
}
.pricetag:before{
    position:absolute;
		border-radius: 2px;
    background: #ffcc80;
    content:"\25CF";
    color: white;
    text-shadow: 0 0 2px #aaa;
    font-size: 20px;
    line-height: 10px;
    text-indent: 6px;
    top: 1.7px;
    left: -10px;
    width: 18px;
    height: 19px;
    transform: rotate(45deg);
    border-left:1px solid #C7D2D4;
    border-bottom:1px solid #C7D2D4;
}

/* Authentication */
.login-overlay {
	position: fixed;
	margin-top: -8px;
	width: 100%;
	height: 100%;
	background-color: #90a4ae;
	z-index: 98;
}
.login-form {
	width: 350px;
	margin-left: 24%;
	margin-top: 10%;
}

/*=================================================================*/
/***********************Third-Party CSS Mod*************************/
/***Boostrap CSS***/
.btn,.btn:focus,.btn:active,.navbar-toggler,.navbar-toggler:focus {
	border: none !important;
  outline: none !important;	/* Get rid of the ugly dot border */
  /* box-shadow: none !important; */
}

.btn-group-xs > .btn, .btn-xs {
  padding: .50rem .45rem .55rem .45rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

#nav-tab{
	width: 55px !important;
}
.left-nav-link {
	border-radius: 0 !important;
	max-height: 35px !important;
}
.left-nav-link:hover {
	background: rgba(0, 0, 0, .3);
}
.left-nav-link.active {
	background: #eeeeee !important;
	color: black !important;
	border-left: 5px solid coral;
	padding-left: 20px;
}

.task-nav-link {
	padding: 2px 6px !important;
	color: black;
}
.task-nav-link.active {
	background: coral !important;
}

.alert {
	padding: 5px 50px 7px 20px !important;
	display: inline-block !important;
	text-align: left !important;
	z-index: 99;
}

.modal-header, .modal-footer {
	padding: 5px 10px 5px 10px !important;
}
.modal-backdrop {
	z-index: 97;
}
.modal {
	z-index: 98;
}
.modal-backdrop, .modal {
	margin-top: 20px;
}
.modal-dialog {
	margin-top: 5px;
}

.badge {
	top: 0;
}

.nav-pills .prog-card-nav-link .nav-link:not(.active) {
	background-color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
}
.nav-pills .prog-card-nav-link .nav-link {
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	color: white;
}
