/*=========================================================*/
/***********************Default CSS*************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	font-size: 11pt;
  min-height: 28px;
  max-height: 28px;
  display: flex;
  z-index: 999;
}
menu {
  z-index: 101;
  padding: 0;
  position: fixed;
  top: 14px;
  left: 0;
  right: 0;
  min-height: 16px;
  max-height: 16px;
  background-color: #cfd8dc;
}
nav.left-nav {
  text-align: center;
  z-index: 100;
  min-width: 55px;
  max-width: 55px;
  position: fixed;
  top: 44px;
  left: 0;
  bottom: 20px;
}
main {
  position: fixed;
  top: 44px;
  bottom: 20px;
  left: 55px;
  right: 0;
  /* padding: 5px; */
}
footer {
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 20px;
  max-height: 20px;
  color: white;
}
body{
  -ms-overflow-style: none;		/* Hide the scrollbar */
}

#title-label {
	font-weight: bold;
	font-size: 10pt;
  color: white;
  padding: 0.30em 0.5em;
  flex-grow: 1;
}
.title-btn {
	padding: 0.2em 1em 0.2em 1.2em;
	cursor: pointer;
  color: #FFFFFF
}
.title-btn-disable {
	pointer-events: none;
	cursor: default;
	background: #dadada;
}
.footer-btn {
  padding: .098em .2em;
  cursor: pointer;
  vertical-align: bottom;
}
.title-btn:hover, .footer-btn:hover {
	background: rgba(0, 0, 0, .3);
}
.title-btn-close:hover {
	background: #dc3545;
}
/* ************* */
/* Prevent user from select text */
.no-select-text {
	-ms-user-select: none !important; /* Internet Explorer/Edge */
}
.allow-select-text {
	-ms-user-select: text !important; /* Internet Explorer/Edge */
}
.default-mouse {
	cursor: default;
}
.bg-app-color {
	background: #eeeeee;
}
.bg-app-theme-dark {
	background: #37474F;
}
.bg-app-theme-light {
	background: #546E7A;
}
/*=========================================================*/
/********************Additional CSS*************************/
.nav-menu {
  margin: 0;
  padding: 0;
  width: 55px;
  background-color: #546E7A;
}
.nav-menu > li a {
  display: block;
  color: #000;
  padding: 10px 15px;
}
.nav-menu > li a.active {
  border-left: 5px solid #37474F;
  background-color: #eeeeee;
  color: black;
  cursor: default;
}
.nav-menu > li a:hover:not(.active) {
  background-color: #37474F;
  color: #FFFFFF;
}

#app-settings-modal {
  overflow: hidden;
}
#app-settings-modal.ui.top.aligned.modal {
  top: -20px !important;
}

.app-status-icon {
  padding-left: 4px;
  cursor: default;
}

#recipe-search .prompt {
  border-radius: 5px 0 0 5px !important;
}

.label-aligned {
  vertical-align: middle !important;
  margin-top: -0.35em !important;
}
/*=========================================================*/
/*****************Third-Party CSS MODs**********************/
/* Fomantic-UI */
menu > .dropdown-container > .ui.dropdown {
  line-height: 0 !important;
  vertical-align: top;
}
menu > .dropdown-container > .ui.dropdown > .text {
  padding: 0 0.5rem !important;
  font-size: 0.9rem !important;
  line-height: 1.15rem !important;
}
.menu-dropdown-item:hover {
  background-color: #b0bec5;
}
menu > .dropdown-container > .ui.dropdown > .text > i.icon {
  margin-right: 0 !important;
  width: inherit !important;
  margin-left: 0.4rem;
}
.ui.dropdown .menu > .item i.icon {
  margin-right: 0.3em !important;
}
menu > .dropdown-container > .ui.dropdown .menu {
  border-radius: 0.15rem !important;
  min-width: 200px !important;
  background-color: #b0bec5;
}
menu > .dropdown-container > .ui.dropdown .menu > .item {
  padding: 0.4rem 0.4rem !important;
  min-height: inherit !important;
}
menu > .dropdown-container > .ui.dropdown .menu > .item > .description {
  font-family: monospace;
}
.ui.dropdown .menu > .divider {
  margin: 0.2em 0 !important;
}

.main.ui.toggle.checkbox input:focus:checked ~ label:before, .main.ui.toggle.checkbox input:checked ~ label:before {
  background-color: #546E7A !important;
}

.ui.toast-container {
  top: 44px !important;
  z-index: 998 !important;
}
.ui.toast {
  border-radius: 0.15rem !important;
  padding: 0.4em 0.8em !important;
  font-size: 0.9em !important;
}

.ui.modal > .header {
  padding: .35rem .55rem !important;
  font-size: 15px !important;
}
.ui.modal > .content {
  padding: .65rem;
}
.ui.modal > .actions {
  padding: .35rem .55rem !important;
}
.ui.dimmer {
  top: 28px !important;
  z-index: 998 !important;
}
.ui.modal > .close.inside {
  top: 0rem !important;
  right: 0rem !important;
}

.recipe-card {
  padding-left: 7px !important;
}
/* Usable */
.recipe-card.usable {
  border: #007E33 solid 1px !important;
  border-left: #007E33 solid 7px !important;
}
.recipe-card.usable .recipe-name {
  color: #007E33 !important;
}
.recipe-label.usable:not(.active) {
  color: #007E33 !important;
  border-color: #007E33 !important;
}
.recipe-label.usable.active, #active-view-recipe-container .attached.label.usable, #active-view-recipe-container .horizontal.label.usable {
  color: #FFFFFF !important;
  background-color: #007E33 !important;
}
.recipe-card .usable.ui.corner.label:after {
  opacity: 0.8 !important;
  border-right: 4em solid #007E33 !important;
}
/* Need Update */
.recipe-card.needupdate {
  border: #6a1b9a solid 1px !important;
  border-left: #6a1b9a solid 7px !important;
}
.recipe-card.needupdate .recipe-name {
  color: #6a1b9a !important;
}
.recipe-label.needupdate:not(.active) {
  color: #6a1b9a !important;
  border-color: #6a1b9a !important;
}
.recipe-label.needupdate.active, #active-view-recipe-container .attached.label.needupdate, #active-view-recipe-container .horizontal.label.needupdate {
  color: #FFFFFF !important;
  background-color: #6a1b9a !important;
}
.recipe-card .needupdate.ui.corner.label:after {
  opacity: 0.8 !important;
  border-right: 4em solid #6a1b9a !important;
}
/* In Progress */
.recipe-card.inprogress {
  border: #ff8f00 solid 1px !important;
  border-left: #ff8f00 solid 7px !important;
}
.recipe-card.inprogress .recipe-name {
  color: #ff8f00 !important;
}
.recipe-label.inprogress:not(.active) {
  color: #ff8f00 !important;
  border-color: #ff8f00 !important;
}
.recipe-label.inprogress.active, #active-view-recipe-container .attached.label.inprogress, #active-view-recipe-container .horizontal.label.inprogress {
  color: #FFFFFF !important;
  background-color: #ff8f00 !important;
}
.recipe-card .inprogress.ui.corner.label:after {
  opacity: 0.8 !important;
  border-right: 4em solid #ff8f00 !important;
}
/* Substitute */
.recipe-card.substitute {
  border: #757575 solid 1px !important;
  border-left: #757575 solid 7px !important;
}
.recipe-card.substitute .recipe-name {
  color: #757575 !important;
}
.recipe-label.substitute:not(.active) {
  color: #757575 !important;
  border-color: #757575 !important;
}
.recipe-label.substitute.active, #active-view-recipe-container .attached.label.substitute, #active-view-recipe-container .horizontal.label.substitute {
  color: #FFFFFF !important;
  background-color: #757575 !important;
}
.recipe-card .substitute.ui.corner.label:after {
  opacity: 0.8 !important;
  border-right: 4em solid #757575 !important;
}
/* Not Ready */
.recipe-card.notready {
  border: #d50000 solid 1px !important;
  border-left: #d50000 solid 7px !important;
}
.recipe-card.notready .recipe-name {
  color: #d50000 !important;
}
.recipe-label.notready:not(.active) {
  color: #d50000 !important;
  border-color: #d50000 !important;
}
.recipe-label.notready.active, #active-view-recipe-container .top.label.notready, #active-view-recipe-container .horizontal.label.notready {
  color: #FFFFFF !important;
  background-color: #d50000 !important;
}
.recipe-card .notready.ui.corner.label:after {
  opacity: 0.8 !important;
  border-right: 4em solid #d50000 !important;
}
.recipe-card > .content {
  font-size: 1em !important;
  padding: 2px !important;
}
.recipe-card > .content > .header {
  margin: 0 !important;
}
.recipe-label:hover {
  opacity: 1 !important;
}

.os-theme-thin-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
  border-radius: 0 !important;
}

.horizontal.divider.header {
  padding: 5px 0;
  margin: 0;
}
