/*=========================================================*/
/***********************Default CSS*************************/
html,
body {
	width: 100%;
	height: 100%;
}

html, #title-label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#title-label {
	font-weight: bold;
	font-size: 11.5pt;
}

header {
	font-size: 11pt;
}

body {
	font-size: 10pt;
	overflow: hidden !important; /* Hide scrollbars */
}

button {
	outline: none;
	border: none;
	box-shadow: none;
}

/* Prevent user from select text */
.no-select-text {
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.allow-select-text {
	-ms-user-select: text; /* Internet Explorer/Edge */
}

.default-mouse {
	cursor: default;
}

.bg-app-color {
	background: #E0E0E0;
}

.bg-app-theme-dark {
	background: #1c2331;
}

.bg-app-theme-light {
	background: #2e3951;
}

.title-btn {
	padding: 0.05em 1.30em;
	cursor: pointer;
}

.title-btn-disable {
	pointer-events: none;
	cursor: default;
	background: #dadada;
}

.title-btn:hover, .footer-btn:hover {
	background: rgba(0, 0, 0, .3);
}

.title-btn-close:hover {
	background: #dc3545;
}

.footer-btn {
	padding: 0.05em 0.90em;
	cursor: pointer;
}

.menu-btn {
	cursor: pointer;
	padding: 0px 10px 0px;
	font-size: 12px;
}

/* Scrollbar display */
body {
	scrollbar-track-color:  #AAA;
	scrollbar-3dlight-color:  #AAA;
	scrollbar-darkshadow-color:  #AAA;
	scrollbar-arrow-color:  #AAA;
	-ms-overflow-style: none;
}

/*============================================================*/
/***********************Additional CSS*************************/
/* Icon Status */
.icon-good {
	color: #00c853;
}
.icon-bad {
	color: #f44336;
}
.icon-process {
	color: #fbc02d;
}

/* Icon Buttons */
.icon-btn-xs:hover {
	color: rgba(0, 0, 0, .5);
}

/* Settings SideNav */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sett-sideNav {
  min-width: 150px;
	max-width: 150px;
  min-height: 70vh;
}
#sett-sideNav, a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
#sett-sideNav {
  background: #2e3951;
  color: #fff;
  transition: all 0.1s;
}
#sett-sideNav ul.components {
  padding: 20px 0;
}
#sett-sideNav ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sett-sideNav ul li a:hover {
  color: #2e3951;
  background: #fff;
}
#sett-sideNav a.active, #sett-sideNav ul li > a.active, a[aria-expanded="false"] {
  color: #fff;
  background: #1c2331;
}
#sett-sideNav ul {
	list-style-type: none;
}

/*=================================================================*/
/***********************Third-Party CSS Mod*************************/
/*********** jQuery Terminal Mod ***********/
.terminal, .cmd, .terminal .terminal-output div div, .cmd .prompt {
    font-size: 11px;
    line-height: 11px;
		z-index: 96;
}

/*********** Boostrap Mod ***********/
.btn,.btn:focus,.btn:active,.navbar-toggler,.navbar-toggler:focus {
	border: none !important;
  outline: none !important;	/* Get rid of the ugly dot border */
  /* box-shadow: none !important; */
}

.modal-header, .modal-footer {
	padding: 2px 5px 1px 5px !important;
}
.modal-backdrop {
	z-index: 97;
}
.modal {
	z-index: 98;
}
.modal-backdrop, .modal {
	margin-top: 23px;
}
.modal-dialog {
	margin-top: 5px;
}
.modal-body {
	padding: 0;
}

/* Tab Pill */
.ctrler-tab .nav-pills .nav-item .nav-link.active {
	background-color: #2e3951;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
}
.ctrler-tab .nav-pills .nav-item .nav-link:not(.active) {
	background-color: #9E9E9E;
	color: #EEEEEE;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
}
.ctrler-tab .tab-content {
	border: solid 2px #2e3951;
	border-radius: 0 0 4px 4px;
}
